/* Estilos para la tarjeta */
.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #3498db, #2ecc71);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para el título del formulario */
  .card h1 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el subtítulo del formulario */
  .card h6 {
    color: #ecf0f1;
    font-size: 16px;
  }
  
  /* Estilos para las etiquetas */
  label {
    color: #ecf0f1;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
  }
  
  /* Estilos para los campos de entrada */
  .form-control {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #ecf0f1; /* Color de fondo gris claro */
    color: #333; /* Color de texto oscuro */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .form-control:focus {
    outline: none;
    background-color: #d5d8dc; /* Cambia el color de fondo al enfocar */
  }
  
  /* Estilos para el botón de enviar */
  .btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #217dbb; /* Cambia el color al pasar el ratón */
  }